{#
/**
 * @file
 * Basic template for questionnaire review page
 */
#}

{{ content.node }}

<div class="result-total-score">
    <strong>{{ 'Your total score is:' |t }}</strong> {{ content.score }}
</div>
